<launch>

  <!-- Arguments to the deepdive framework -->
  <arg name="target" default="" />
  <arg name="replay" default="" />
  <arg name="record" default="" />
  <arg name="rviz" default="true" />
  <arg name="output" default="screen" />
  <arg name="offline" default="false" />

  <!-- SUPPORT NODES -->

  <!-- Visualization, if needed -->
  <node if="$(arg rviz)" name="deepdive_rviz" pkg="rviz" type="rviz"
        args="-d $(find deepdive_ros)/rviz/granite.rviz"/>

  <!-- Data recorder, if needed -->
  <node if="$(eval arg('record') != '')" name="deepdive_recorder" output="$(arg output)"
        pkg="rosbag" type="record"
        args="-O $(arg record) /trackers /lighthouses /imu /light /button"/>

  <!-- Data replay, if needed -->
  <node unless="$(eval arg('replay') != '')" name="deepdive_bridge"
        pkg="deepdive_ros" type="deepdive_bridge"/>

  <!-- CORE NODES -->

  <!-- Replay if needed, and speed up in an offline experiment by 10x -->
  <arg if="$(eval arg('offline') != '')" name="factor" value="10" />
  <arg unless="$(eval arg('offline') != '')" name="factor" value="1" />
  <node if="$(eval arg('replay') != '')" name="deepdive_player" output="log"
        pkg="rosbag" type="play" args="--clock -d 1 -r $(arg factor) $(arg replay)"/>

  <!-- One filter for each of the two trackers -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="rviz_bc" args="0 0 0 1 0 0 0 world rviz" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="body_bc" args="0 0 0 0 0 0 1 world body" />

  <!--
  <node name="deepdive_tracker_port" output="$(arg output)"
        pkg="deepdive_ros" type="deepdive_tracker">
    <rosparam command="load" file="$(find deepdive_ros)/cfg/tracker-port.yaml" />
  </node>
  <node name="deepdive_tracker_stbd" output="$(arg output)"
        pkg="deepdive_ros" type="deepdive_tracker">
    <rosparam command="load" file="$(find deepdive_ros)/cfg/tracker-stbd.yaml" />
  </node>
  -->

  <!-- One calibration algorithm-->
  <node name="deepdive_calibration" output="$(arg output)"
        pkg="deepdive_ros" type="deepdive_calibration">
    <rosparam command="load" file="$(find deepdive_ros)/cfg/granite-calibration.yaml" />
    <param name="offline" type="bool" value="$(arg offline)" />
  </node>

</launch>
